@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: $background;
    user-select: none;
    padding: 2rem;

    &__list {
        @include reset-list;
        @include mask-image-horizontal;

        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        display: flex;
        gap: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        padding: 1rem;
        border: 1px solid $quaternary;
        border-radius: $border-radius-1;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &:-webkit-scrollbar {
            display: none;
        }

        &__item {
            flex: 0 0 auto;
            white-space: nowrap;
        }
    }
}
