@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/animations.scss" as *;

@mixin section-gap {
    gap: 2rem;
}

@mixin section-padding {
    padding: 0.5rem;

    @include tablet {
        padding: 1rem;
    }

    @include desktop {
        padding: 2rem;
    }
}

.project-page {
    @include section-base;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include section-gap;
        @include appear-animation(1s, cubic-bezier(0.25, 0.1, 0.25, 1));
        @include section-padding;

        &__short-description {
            color: $primary;
            font-size: 1.5rem;
        }

        &__image {
            position: relative;
            width: 70vw;
            height: 70vw;

            @include tablet {
                width: 50vw;
                height: 50vw;
            }

            @include desktop {
                width: 30vw;
                height: 30vw;
            }

            img {
                filter: drop-shadow(0 0 2rem $shadow-color-a);
                transform: scale(1);
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.5s;
                }
            }
        }
    }

    &__overview {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include section-gap;
        @include appear-animation(1s, cubic-bezier(0.25, 0.1, 0.25, 1)); // Apply animation
        @include section-padding;

        &__description {
            color: $primary;
            font-size: 1rem;
            white-space: pre-line;
        }
    }

    &__stack {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include section-gap;
        @include appear-animation(1s, cubic-bezier(0.25, 0.1, 0.25, 1)); // Apply animation
        @include section-padding;

        section {
            padding: 2rem 0 0;
        }
    }

    &__goals {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include section-gap;
        @include appear-animation(1s, cubic-bezier(0.25, 0.1, 0.25, 1)); // Apply animation
        @include section-padding;

        &__list {
            @include reset-list;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            &__item {
                color: $primary;
                font-size: 1rem;
                white-space: pre-line;
            }
        }
    }

    &__example-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @include section-gap;
        @include appear-animation(1s, cubic-bezier(0.25, 0.1, 0.25, 1));
        @include section-padding;

        &__list {
            @include reset-list;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }
}

.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}
