@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.link {
  @include button-reset;

  color: $accent;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: color 0.2s ease;

  &:focus-visible {
    border-radius: $border-radius-1;
    outline: 1px solid $primary;
    outline-offset: 0.5rem;
  }

  &_primary {
    &:hover {
      color: $primary;
    }
  }

  &_secondary {
    color: $primary;

    &:hover {
      color: $accent;
    }
  }

  &_accent {
    color: $accent;
    padding: 1rem;
    border: 1px solid $accent;
    border-radius: $border-radius-2;
    background-color: $background-light;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    &:hover {
      background-color: $accent;
      color: $quaternary;
    }
  }
}

.button {
  @include button-reset;

  color: $accent;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgba($background, 1);
  border-radius: $border-radius-1;
  outline: 1px solid $primary;
  overflow: hidden;
  position: relative;
  width: 100%;

  &_primary {
    &::before {
      content: "";
      position: absolute;
      top: -20%;
      left: -100%;
      width: 100%;
      height: 150%;
      transform: rotate(0deg);
      background: linear-gradient(120deg, transparent, rgba($primary, 0.2), transparent);
      transition: left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover::before {
      left: 100%;
    }
  }

  &_secondary {
    transition: background 0.5s;
    transition: color 0.5s;

    &:hover {
      background-color: $foreground;
      color: $secondary;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
