@use "./variables.scss" as *;

// Media query mixins
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin highlight {
  font-weight: bolder;
  color: $highlight;
}

@mixin button-reset {
  background-color: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  white-space: nowrap;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@mixin mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@mixin section-base {
  padding: 2rem;
  background-color: $background;
  width: 100%;
}

@mixin primary-title {
  color: $accent;
  font-size: 2.5rem;

  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}

@mixin secondary-title {
  color: $primary;
  font-size: 2rem;

  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
  }
}
