// colors
$background: #0a0a0a;
$background-light: #181818;
$foreground: #fff;
$primary: #b8b8b8;
$secondary: #0a0a0a;
$tertiary: #757575;
$quaternary: #303030;
$accent: #fff;

// Spacing
$vertical-gap: 1rem;

// Radius
$border-radius-1: 1rem;
$border-radius-2: 2rem;

// Breakpoints for responsive design
$mobile: 640px;
$tablet: 768px;
$desktop: 1100px;

// Shadows
$shadow-color: #a100d2;
$shadow-color-a: #a000d24d;
