.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.scrollable {
  min-width: 0;
}
.controls {
  display: flex;
  justify-content: flex-end;
}
.control {
  padding: 0;
  color: var(--tertiary);
  background: transparent;
  border: 1px solid var(--rule);
  border-radius: 50%;
  font-size: 0.7rem;
  &:hover {
    color: var(--foreground);
    background: var(--panel);
  }
}
