@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss" as *;

.page-wrapper {
    font-family: var(--font-geist-sans);
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $background;
    color: $foreground;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 2rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    @include desktop {
        max-width: $desktop;
    }

    @include tablet {
        min-width: $mobile;
        max-width: $desktop;
    }

    @include mobile {
        max-width: $mobile;
    }
}

.main {
    flex-grow: 1;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.5rem 2rem;
}
