@use '@/styles/mixins.scss' as *;

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
}

@include desktop {
  .overlay {
    display: block;
  }
}

@media (prefers-reduced-motion: reduce) {
  .overlay {
    display: none;
  }
}
